### Exercise 1.1
###### Remember to do these exercises in your own notebook in your assessment repository.

The above gives about a 1.5% chance of randomly selecting the correct cups. Calculate the minimum number of cups of tea required to ensure the probability of randomly selecting the correct cups is less than or equal to 1%.

This code is adapted from https://stackoverflow.com/a/4941932/17170567

In [1]:
# Math Module
import math

In [2]:
#Number of ways of selecting 4 cups from 8
math.comb(8,4)

70

In [3]:
#Number of ways of selecting 5 cups from 10
math.comb(10,5)

252

In [4]:
#Probability of randomly selecting correct 5 cups is:
1.0 / math.comb(10, 5)

0.003968253968253968

So if the experiment was done with 10 cups total, 5 with milk in first and 5 with tea in first the chance of selecting randomly is much less than 1%

We could develop the experiment to have 9 cups in total, 4 with milk first and 5 with tea first, or vice versa.

In [6]:
# Num of ways selecting 4 cups from 9
math.comb(9, 4)

126

In [7]:
# The Probability is then 
1.0/math.comb(9, 4)

0.007936507936507936

Also less than 1% - round to .8%

In [8]:
# Note the number of ways of selecting 5 cups from 9 is also 126
math.comb(9, 5)

126

##### Use scipy's version of Fishers Exact Test to simulate the Lady Tasting Tea Problem

We know from the investigation above that the number of ways of selecting 4 cups from 8 is 70. 
Therefore the odds from a random selection the odds of choosing the 4 cups where the milk has been added first is 1/70 or 0.014285714285714285

In [57]:
# Show 1 divided by 70
1/70

0.014285714285714285

Here I am going to create a table to visualise the data - the code here is adapated from: https://towardsdatascience.com/fishers-exact-test-from-scratch-with-python-2b907f29e593

In [55]:
#Create Table with Pandas
ar=np.array([[4, 0],[0, 4]])    
df=pd.DataFrame(ar, columns=["Milk_Guess", "Tea_Guess"])
df.index=["Milk_Poured", "Tea_Poured"] 
df

             Milk_Guess  Tea_Guess
Milk_Poured           4          0
Tea_Poured            0          4

In [56]:
# Add the marginal totals and the grand total
df2=df.copy()
df2.loc['Column_Total']= df2.sum(numeric_only=True, axis=0)
df2.loc[:,'Row_Total'] = df2.sum(numeric_only=True, axis=1)
df2

              Milk_Guess  Tea_Guess  Row_Total
Milk_Poured            4          0          4
Tea_Poured             0          4          4
Column_Total           4          4          8

First I want to calculate the expected values for each cell in our contingency table. The expected values represent the numbers that should be found in each cell of the table if there’s no association between the two variables “Guess” and “Poured”. For each cell we calculate its expected value by multiplying its respective Row_Total with its respective Column_Total and finally divide by the grand total. In this case that would be **(4/8) * (4/8) * 8** *or* **(4*4) / 8**

In [67]:
# Calculating Expected value in each cell
(4*4) / 8

2.0

This test is a little obvious as with 4 choices out of 8 cups the odds at random would be you would get two right and two wrong, but if you used odd numbers or skewed the data by only filling 3 cups with milk first and 5 with tea first you would get floating numbers as your answers

In [69]:
#Create Table with Pandas
ar=np.array([[5, 0],[0, 3]])    
df=pd.DataFrame(ar, columns=["Milk_Guess", "Tea_Guess"])
df.index=["Milk_Poured", "Tea_Poured"] 
df

             Milk_Guess  Tea_Guess
Milk_Poured           5          0
Tea_Poured            0          3

In [70]:
# Add the marginal totals and the grand total
df2=df.copy()
df2.loc['Column_Total']= df2.sum(numeric_only=True, axis=0)
df2.loc[:,'Row_Total'] = df2.sum(numeric_only=True, axis=1)
df2

              Milk_Guess  Tea_Guess  Row_Total
Milk_Poured            5          0          5
Tea_Poured             0          3          3
Column_Total           5          3          8

Here when we multiply the respective Row_Total with its respective Column_Total and divide by the grand total the formula for the expected outcome for each figure would be (5/8) * (3/8) * 8 or (5*3) / 8

In [72]:
# Calculating Expected value in each cell
(5*3) / 8

1.875

So now we have the expected value for each cell (we are going back to the **(4*4) / 8** scenario as that was the original question).
We will now try to use the fisher_exact method from scipy.stats to get the value of the chances of 4 random choices picking the all 4 of exact right cups (tea first is the correct way - I dont care what anyone says!!)

In [73]:
# Statistical Methods
import scipy.stats as ss

In [74]:
# Run the Fisher_exact method
ss.fisher_exact

In [77]:
#This is my data
data = [[4,0],[0,4]]

In [76]:
# Running the fisher exact method using the data from my original table
ss.fisher_exact(data)

(inf, 0.028571428571428536)

So here I was expecting to get the value of 1/70 or 0.014285714285714285 to be exact. However as you can see the figure produced from the code above does not match, however it is suspisiously almost exactly double what I expected (beyond 10 decimal places). So here I went back to the

In [54]:
ss.fisher_exact([[4,0],[0,4]], alternative='greater')

(inf, 0.014285714285714268)

#### *Bonus Excercise for 1.1:* How many would be required if you were to let the taster get one cup wrong while maintaining the 1% threshold?

In [19]:
import numpy as np
import pandas as pd
import scipy.special

In [41]:
#Create Table with Pandas
ar=np.array([[4, 0],[0, 4]])    
df=pd.DataFrame(ar, columns=["Milk_Guess", "Tea_Guess"])
df.index=["Milk_Poured", "Tea_Poured"] 
df

             Milk_Guess  Tea_Guess
Milk_Poured           4          0
Tea_Poured            0          4

              Milk_Guess  Tea_Guess  Row_Total
Milk_Poured            4          0          4
Tea_Poured             0          4          4
Column_Total           4          4          8

In [25]:
n=df2.at["Column_Total", "Row_Total"]  # grand total 

exp=df2.copy()               # create dataframe with expected frequencies
for x in exp.index[0:-1]:
    for y in exp.columns[0:-1]:
        # round expected values to nearest hundredths:
        v= (((df2.at[x, "Row_Total"]) * (df2.at["Column_Total", y])   )   /n ).round(2) 
        exp.at[x,y]=float(v)

exp

              Milk_First  Tea_First  Row_Total
Milk_Choice            2          2          4
Tea_Choice             2          2          4
Column_Total           4          4          8

In [26]:
def p(a): 
    v=(scipy.special.binom(int(df2.iloc[0,2]), a) * scipy.special.binom(int(df2.iloc[1,2]), (int(df2.iloc[2,0])-a)) )/scipy.special.binom(n, int(df2.iloc[2,0]))
    return v

p(1) # if we try "a=1" we get the following probability ...

0.22857142857142856

In [27]:
p_observed=p(7) # In our contingency table, a was equal to 7.

p_list=[]
for i in range(int(df2.iloc[0,2])  + 1  ): # calculate p(a) for every possible table we can get given the fixed margins...
#... this ranges from "9 choose 0" to "9 choose 9" so we should get 10 possible tables and their respective probabilities..
    if p(i)<=p_observed:
        p_list.append(p(i))     # append these probabilites to p_list only if <= p_observed
        
p_val=np.sum(p_list) # the sum of this list corresponds to the p-value 
p_val

0.0